/* title font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.aboutme-container{
    width: 100vw;
    height: 100vh;
    background-color: #8b8480;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: white
}

.aboutme-exit {
    color: white;
}

.left-arrow-aboutme:hover, .right-arrow-aboutme:hover, .aboutme-exit:hover{
    color: #321b12;
    cursor: pointer;
}

.icon-text {
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
