
.bike-trip-container {
    height: 100vh;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

.map-desc {
   flex-grow: 1;
   display: flex;
   align-items: flex-end;
}

.map-iframe {
    flex-grow: 1;
    margin-bottom: 50px;
    height: 60%;
}

.map {
    width: 100%;
    height: 100%;
}

.casco-bay-trail-container {
    background-color: blue;
    height: 100vh;
    width: 100%;
}

.nh-mountains {
    background-color: green;
    height: 100vh;
    width: 100%;
}
