
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.home {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.title {
   margin-top: 12vh;
   margin-left: 20px;
}

.sub-title {
    color: #bfc1c3;
    margin-left: 80px;
    opacity: 0;
    animation: fade-in 2s ease-in-out 2s forwards;
}

.header {
    color: #bfc1c3;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
    margin: 50px;
    margin-bottom: 0px;
    position: relative;
    top: -200px;
    animation: slideIn 2s ease-in-out forwards; /* Animation */
}

/* Keyframes for slide-in animation */
@keyframes slideIn {
  from {
    top: -200px; /* Start off-screen */
  }
  to {
    top: 0; /* Slide in to top of the page */
  }
}

/* Keyframes for slide-in animation */
@keyframes fade-in {
    from {
      opacity: 0; /* Start off-screen */
    }
    to {
        opacity: 1; /* Slide in to top of the page */
    }
  }


.circle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    background-color: whitesmoke;
    height: 30vh;
}

.icon {
    width: 150px; 
    height: 200px; 
    color: #bfc1c3; 
    margin: 20px; 
}

div {
    font-family: Optima;
    font-size: large;
}

.caption-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 30vh;
    align-items: center;
    background-color: white;
    /* background-image: url('./backgroundImages/noise.svg'); */
}

.caption {
    width: 100vw; 
    color: #5484a8;
    text-align: center;
    font-size: x-large;
    border: 2px solid #5484a8; 
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    height: 100px;
}

/* ********** 




h1, h2 {
   margin-left: 20px;
   margin-top: 0px;
   color: #283618;
}

li {
    padding: 5px;
}

.top-line {
    background: #606C38;
    height: 5px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.section-line {
    background: #606C38;
    height: 3px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}

hr {
    background: #606C38;
    height: 2px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}

.flex-grid {
    color: #6F343C;
}

.flex-grid {
    display: flex;
  }
  .col {
    flex: 2;
    padding: 10px;
    margin-left: 10px;
  }
  .col1, .col3 {
    padding: 10px;
    margin-left: 10px;
    width: 15vw;
  }

  .col1 {
    font-weight: bold;
  }

  */
