@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.nav-bar {
    display: flex;
    flex-direction: row;
    width: auto;
    position: absolute;
    right: 0;
    z-index: 10;
    margin-right: 15px;
}

.nav-button {
    padding-right: 2px;
    text-decoration: none;
    font-weight: 400;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.home-page.home-btn {
    font-weight: 600;
}

.about-page.about-btn {
    font-weight: 600;
}

.nav-button:hover {
  font-size: larger;  
}

.resume-page {
    color: black;
}

.blade-page {
    color: #283618;
}

.grid-btn, .x-btn {
    display: none;
}

/* Mobile View  
@media (max-width: 700px) {
    .grid-btn {
        display: flex;
        position: absolute;
        right: 0px;
        top: 5px;
        color: #bfc1c3;
        font-size: 30px;
        padding-top: 10px;
    }

    .x-btn.active {
        display: flex;
        position: absolute;
        right: 0px;
        top: 5px;
        color: #bfc1c3;
        font-size: 30px;
        padding-top: 10px;
        z-index: 10;
    }

    .nav-bar {
        position: absolute;
        right: 0;
        top: 0px;
        padding-top: 40px;
        background-color: green;
        display: flex;
        flex-direction: column;
        width: 0px;
        z-index: 10;
        overflow: hidden;
    }

    .nav-bar.active {
        width: 270px;
        transition: all 0.3s ease-in;
      }
    

    .nav-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 60px;
        z-index: 10;
        background-color: white;
        width: 30vw;
    }
}

*/